@charset "utf-8";

body{
    background-color: #e9d9c0;
    font-family: "Noto Sans JP", sans-serif;
    color: #4F270B;
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 4.4% 0 4.4%;
    position: absolute;
    width: 100%;
}
.header_nav ul{
    display: flex;
    gap: 48px;
}
.logo{
    width: 434px;
}

.logo img {
    width: 100%;
    display: block;
}

.header_nav a {
    color: #fff;
    font-family: "Alatsi", sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.header_nav ul {
    display: flex;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-visual {
    width: 100%;
}

.main-visual img {
    width: 100%;
    display: block;
}

.catch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 132px;
    text-align: center;
}

.heading-title{
    font-family: "Diplomata SC", serif;
    font-size: 40px;
    color: #D20202;
}

.section {
    margin-bottom: 144px;
}

.catch_subtitle {
    font-family: "Alatsi", sans-serif;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.05em;
    margin-bottom: 40px;
}

.catch_title {
    font-size: 64px;
    line-height: 1.5;
    letter-spacing: 0;
    margin-bottom: 32px;
}

.catch_text {
    font-size: 24px;
    line-height: 1.8;
}

h2 {
    font-size: 64px;
    line-height: 1.5;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 16px;
}

.heading-title-center {
    text-align: center;
}

h3 {
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0;
    font-family: "Diplomata SC", serif;
    color: #D20202;
    margin-bottom: 32px;
    text-align: center;
}

h3.text_left {
    text-align: left;
}

h4 {
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0;
    margin-top: 8px;
    margin-bottom: 16px;
}

h5 {
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0;
    font-family: "Diplomata SC", serif;
    color: #D20202;
    margin-top: -15px;
    margin-bottom: 6px;
}

h6 {
    font-size: 28px;
    line-height: 1;
    letter-spacing: 0;
    font-family: "Diplomata SC", serif;
    color: #4F270B;
}

#about {
    display: flex;
    gap: 40px;
    align-items: start;
    max-width: 1000px;
    margin: 0 auto 144px;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

#about .heading-title{
    text-align: left;
}

.about_img {
    width: 44%;
    display: block;
}

.about_img img{
    border-radius: 0 0 64px 0; /*右下を丸く*/
}

.about_body {
    width: 56%;
}

/*.heading-subtitle {
    font-family: "Alatsi", sans-serif;
    font-size: 24px;
    color: #888;
    margin-bottom: 16px;
}
    */

.about_title {
    font-size: 32px;
    font-family: "Noto Sans JP", sans-serif;
    color: #4F270B;
    text-align: left;
    margin-bottom: 24px;
}

.about_text {
    font-size: 16px;
    line-height: 1.8;
}

.menu {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto 144px;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.menu_list {
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_item {
    flex: 1;
}

.menu_item img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    display: block;
    border-radius: 0 64px 0 0; /* 右上を丸くするデザイン */
    margin-bottom: 16px;
}

.menu_name {
    font-family: "Diplomata SC", serif;
    font-size: 24px;
    color: #D20202;
    margin-bottom: 12px;
    text-align: left;
    margin-top: -27px;
}

.menu_item p{
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0;
}

.menu_text {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0;
}

.gallery {
    width: 100%;
}

.gallery_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery_list li {
    width: 20%;
}

.gallery_list img {
    width: 100%;
    aspect-ratio: 6/5;
    object-fit: cover;
    display: block;
}


.event {
    max-width: 1000px;
    margin: 0 auto 144px;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.event_list {
    max-width: 1000px;
    width: 100%;
    padding: 32px 16px;
    border: solid 1px #4F270B;
    background-color: #fff;
    margin: 0 auto;
    box-sizing: border-box;
}

.event_list ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.event_item {
    max-width: 630px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    gap: 40px;
    font-size: 20px;
}

.event_item dt {
    font-weight: 500;/*mediumの太さに変更*/
    white-space: nowrap;
}

.event_item dd{
    margin-left: 0;
}

.event_item{
    margin-bottom: 16px;
}
.event_item :last-child{
    margin-bottom: 0;
}

.access {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.access_map {
    width: 100%;
    height: 353px;
    margin-top: 32px;
}

iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
}


footer {
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: #fff;
    padding: 80px 0 60px 0;
    box-sizing: border-box;
}

.footer_container {
    max-width: 1000px;
    margin: 0 auto;
    /*内部コンテンツに幅を持たせて、背景色はそのままにするため*/
    display: flex;
    gap: 40px;
    position: relative;
}

.footer_logo {
    width: 380px;
}

.footer_logo img {
    width: 100%;
    display: block;
}

.footer_info {
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.footer_item{
    display: flex;
    gap: 40px;
}

/*dl {
    display: grid;
    grid-template-columns: 80px 1fr;
    column-gap: 20px;
    row-gap: 16px;
    flex: 1;
    line-height: 1.5;
    letter-spacing: 0;
    margin: 0;
} */

/*
.footer_item { 
   display: contents;
}*/

.footer_item dt {
    /*font-weight: bold;*/
    width: 64px;
}

.page-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 140px;
}

.page-top img {
    width: 100%;
    display: block;
}

.footer_copy {
    text-align: center;
    font-size: 14px;
    color: #888;
}
